---
// BaseLayout.astro
import MainHead from '../components/MainHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import { SEO } from "astro-seo";
import { pwaInfo } from "virtual:pwa-info";
import ReloadPrompt from '../components/ReloadPrompt.astro';
import CookieConsent from '../components/CookieConsent.astro';

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-V8L35CMDJY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-V8L35CMDJY');
    </script>
    <MainHead title={title} description={description} />
    <SEO
      title="Mandolin Balaji"
      description="Carnatic Mandolin and Guitar Exponent"
      openGraph={{
        basic: {
          title: "Mandolin Balaji",
          type: "website",
          image: "assets/portrait.png",
        }
      }}
      extend={{
        link: [
          { rel: "icon", href: "/favicon.svg" },
          { rel: "apple-touch-icon", href: "/apple-touch-icon.png" },
        ],
        meta: [
          { name: "mobile-web-app-capable", content: "yes" },
		  { name: "apple-mobile-web-app-capable", content: "yes" },
          { name: "apple-mobile-web-app-status-bar-style", content: "black-translucent" },
          { name: "apple-mobile-web-app-title", content: "Mandolin Balaji" }
        ]
      }}
    />
    {pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} />}
	<script is:inline src="/js/ios-pwa-splash.min.js"></script>
	<script is:inline src="/js/pwa-install.bundle.js"></script>
  </head>
  <body>
    <div class="stack">
      <Nav />
      <slot />
      <Footer />
    </div>
    <script>
	  iosPWASplash('/pwa-512x512.png');
      addEventListener('load', () => document.documentElement.classList.add('loaded'));
    </script>
    <ReloadPrompt />
    <CookieConsent />
    <pwa-install
	  id="pwa-install"
	  use-local-storage="true"
      install-description="Install as an app for the best experience"
      disable-screenshots="true"
      disable-screenshots-apple="true"
      disable-screenshots-chrome="true"
      manifest-url="/manifest.webmanifest"
      name="Mandolin Balaji"
      description="Mandolin Balaji's web application"
      icon="/favicon.png">
    </pwa-install>
	<script>
		const pwaInstall = document.getElementById("pwa-install");

		const logMessage = (message) => {
			console.log(message);
		}

		const getRelated = () => {
			pwaInstall.getInstalledRelatedApps().then(
				(result) => {
					logMessage(result.toString() || 'None');
				}
			)
		}
		
		const forceStyle = (style) => {
			switch (style) {
				case 'apple-mobile':
					pwaInstall.isAppleDesktopPlatform = false;
					pwaInstall.isAppleMobilePlatform = true;
					break;
				case 'apple-desktop':
					pwaInstall.isAppleMobilePlatform = false;
					pwaInstall.isAppleDesktopPlatform = true;
					break;
				case 'chrome':
					pwaInstall.isAppleMobilePlatform = false;
					pwaInstall.isAppleDesktopPlatform = false;
					pwaInstall.isAndroidFallback = false;
					break;
				case 'fallback':
					pwaInstall.isAppleMobilePlatform = false;
					pwaInstall.isAppleDesktopPlatform = false;
					pwaInstall.isAndroidFallback = true;
					break;
			}
			pwaInstall.hideDialog();
			pwaInstall.showDialog();
		}

		const disableInstallDescription = (cb) => {
			cb.checked ? pwaInstall.setAttribute('disable-install-description', true) :
			pwaInstall.removeAttribute('disable-install-description');
		}
		const disableScreenshots = (cb) => {
			cb.checked ? pwaInstall.setAttribute('disable-screenshots', true) :
			pwaInstall.removeAttribute('disable-screenshots');
		}
		const disableScreenshotsPlatform = (cb, platform) => {
			cb.checked ? pwaInstall.setAttribute(`disable-screenshots-${platform}`, true) :
			pwaInstall.removeAttribute(`disable-screenshots-${platform}`);
		}
		const disableClose = (cb) => {
			cb.checked ? pwaInstall.setAttribute('disable-close', true) :
			pwaInstall.removeAttribute('disable-close');
		}
		const setAttr = (attr, value) => {
			value? pwaInstall.setAttribute(attr, value) :
			pwaInstall.removeAttribute(attr);
			pwaInstall._init();
		}

		pwaInstall.addEventListener('pwa-install-success-event', (event) => {logMessage(event.detail.message)});
		pwaInstall.addEventListener('pwa-install-fail-event', (event) => {logMessage(event.detail.message)});
		pwaInstall.addEventListener('pwa-user-choice-result-event', (event) => {logMessage(event.detail.message)});
		pwaInstall.addEventListener('pwa-install-available-event', (event) => {logMessage(event.detail.message)});
		pwaInstall.addEventListener('pwa-install-how-to-event', (event) => {logMessage(event.detail.message)});
		pwaInstall.addEventListener('pwa-install-gallery-event', (event) => {logMessage(event.detail.message)});
	</script>
  </body>
</html>